/sockets_client_src/sockets_client_src/cmake-build-debug-visual-studio/
/sockets_client_src/sockets_client_src/.idea/
/socket_server_src/socket_server_src/.idea/
/socket_server_src/socket_server_src/cmake-build-debug/
/socket_server_src/socket_server_src/cmake-build-debug-visual-studio/
